body {
	min-height:900px;
}

/* Default element style */
.laboite-dimmer {
	background:#000;
}
.laboite-wrap {
	background:#fff;
	border-radius:5px;
	border:1px solid #ccc;
	font-family:verdana;
	font-size:12px;
	padding:10px;
	margin:10px;
}
	.laboite-wrap a {
		text-decoration:none;
	}
	.laboite-container {
		position:relative;
		overflow:hidden;
		min-height:400px;
		min-width:400px;
		margin-bottom:10px;
	}
	.laboite-content {
		position:absolute;
	}
	
		/* 
			BOF TEMPORARY IMAGE WIDTH LIMITTER
		*/
		.laboite-content img {
			width:400px;
		}
		/* 
			EOF TEMPORARY 
		*/
	
	.laboite-controls {
		overflow:hidden;
	}
		.laboite-button {
			background:#ccc;
			border-radius:3px;
			border:1px solid #ccc;
			margin:0 5px 10px 0;
			display:block;
			float:left;
		}
		.laboite-button:hover {
			background:#f4f4f4;
		}
			.laboite-button span {
				padding:5px 10px;
			}
		.laboite-close {}
		.laboite-previous {}
		.laboite-next {}
		.laboite-play {}
		.laboite-pause {}
		.laboite-stop {}
		
/* Modal style */
.laboite-modal {
	top:20px;
	position:absolute;
	box-shadow:2px 2px 3px rgba(0,0,0,0.5);
}
	.laboite-modal .laboite-content {}
	.laboite-modal .laboite-controls {}
		.laboite-modal .laboite-button {}
		.laboite-modal .laboite-close {
			display:block;
		}
		.laboite-modal .laboite-previous {}
		.laboite-modal .laboite-next {}
		.laboite-modal .laboite-play {}
		.laboite-modal .laboite-pause {}
		.laboite-modal .laboite-stop {}
		
/* Inline style */
.laboite-inline {
	
}
	.laboite-inline .laboite-content {}
	.laboite-inline .laboite-controls {}
		.laboite-inline .laboite-button {}
		.laboite-inline .laboite-close {}
		.laboite-inline .laboite-previous {}
		.laboite-inline .laboite-next {}
		.laboite-inline .laboite-play {}
		.laboite-inline .laboite-pause {}
		.laboite-inline .laboite-stop {}
		
/* Popup style */
.laboite-popup {}
	.laboite-popup .laboite-content {}
	.laboite-popup .laboite-controls {}
		.laboite-popup .laboite-button {}
		.laboite-popup .laboite-close {}
		.laboite-popup .laboite-previous {}
		.laboite-popup .laboite-next {}
		.laboite-popup .laboite-play {}
		.laboite-popup .laboite-pause {}
		.laboite-popup .laboite-stop {}